<ion-content scrollbar-y="false" overflow-scroll="false" has-bouncing="false" class="info has-footer">
	<div class="info-header">
		<button class="button" ng-click="loginWithPhone()">用户登录</button>
	</div>
	<div class="info-list">
		<div class="info-item info-invite-friend">
			<span></span>
			邀请好友赢福利
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			我的订单
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			我的余额
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			我的红包
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			我的优惠券
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			积分
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			我的地址
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			下载每日优鲜APP
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			联系客服
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			消息
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			关于我们
		</div>
		<div class="info-item info-invite-friend">
			<span></span>
			设置
		</div>
	</div>
</ion-content>